<div class="form-control w-full max-w-xs mt-10">
    <label class="label">
      <span class="label-text">Name/Job/Date</span>
      <span class="label-text-alt"></span>
    </label>
    <input type="text" placeholder="Name/Job/Date" class="input input-bordered w-full max-w-xs" #task />
    
    <label class="label">
      <span class="label-text-alt">complete/gay</span>
      <span class="label-text-alt"></span>
    </label>
  </div>
  <button (click)="addTask(task.value)" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg p-1">Submit</button>
  
<div class="overflow-x-auto mt-10">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          
          <th>Name/Job/Date</th>
          
          
        </tr>
      </thead>
      <tbody *ngFor="let item of list">
        <!-- row 1 -->
        <tr>
          
          <td>{{item.name}} <button (click)="removeTask(item.id)" class="btn btn-sm">Done</button></td>
          
          
        </tr>

      </tbody>
    </table>
  </div>